<header>
    <div class="banner">
        <div class="intro">
            <h1>Olá me chamo Matheus La Scala</h1>
            <p>Desenvolvedor backend C# | .NET | ASP.NET | Angular | Oracle</p>
        </div>
        <div class="links">
            <nav>  
                <ul>
                    <li>    
                        <a href="assets\pdf\CV_Matheus La Scala.pdf" target="_blank" class="btn btn-primary">
                            Download Cv
                        </a>
                    </li>
                    <li>    
                       <a href="https://www.linkedin.com/in/matheus-la-scala-1a1b091b0/" target="_blank" class="btn btn-secondary">
                            LinkedIn
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    
    <div class="profile">
        <a href="https://github.com/M-LaScala">
            <img src="assets/img/perfil.JPG" 
                 alt="Matheus La Scala - Foto de perfil"
                 loading="eager" />
        </a>
    </div>
</header>

